# IDEA

# User-specific stuff:
*/.idea/**/workspace.xml
*/.idea/**/tasks.xml
*/.idea/dictionaries

# IntelliJ
*/out/
*/target/*
!*/target/*.war

# API Keys
*/apikeys.yml

# Databases
*.db
*.db-journal